Assignment_3_COMP6231/src/ShareMarketImplementationService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://implimentation.service.web.com/" name="ShareMarketImplementationService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://implimentation.service.web.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <import namespace="http://service.web.com/" location="WebInterface.wsdl"/>
  <binding name="ShareMarketImplementationPortBinding" type="ns1:WebInterface" xmlns:ns1="http://service.web.com/">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="addShare">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.web.com/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.web.com/"/>
      </output>
    </operation>
    <operation name="removeShare">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.web.com/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.web.com/"/>
      </output>
    </operation>
    <operation name="listShareAvailability">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.web.com/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.web.com/"/>
      </output>
    </operation>
    <operation name="purchaseShare">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.web.com/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.web.com/"/>
      </output>
    </operation>
    <operation name="getShares">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.web.com/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.web.com/"/>
      </output>
    </operation>
    <operation name="sellShare">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.web.com/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.web.com/"/>
      </output>
    </operation>
    <operation name="swapShare">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" namespace="http://service.web.com/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://service.web.com/"/>
      </output>
    </operation>
  </binding>
  <service name="ShareMarketImplementationService">
    <port name="ShareMarketImplementationPort" binding="tns:ShareMarketImplementationPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

