Assignment_3_COMP6231/src/WebInterface.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://service.web.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.web.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types/>
  <message name="addShare">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
    <part name="arg2" type="xsd:int"/>
  </message>
  <message name="addShareResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="removeShare">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
  </message>
  <message name="removeShareResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="listShareAvailability">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="listShareAvailabilityResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="purchaseShare">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
    <part name="arg2" type="xsd:string"/>
    <part name="arg3" type="xsd:int"/>
  </message>
  <message name="purchaseShareResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="getShares">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="getSharesResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="sellShare">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
    <part name="arg2" type="xsd:int"/>
  </message>
  <message name="sellShareResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="swapShare">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
    <part name="arg2" type="xsd:string"/>
    <part name="arg3" type="xsd:string"/>
    <part name="arg4" type="xsd:string"/>
  </message>
  <message name="swapShareResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <portType name="WebInterface">
    <operation name="addShare" parameterOrder="arg0 arg1 arg2">
      <input ns1:Action="http://service.web.com/WebInterface/addShareRequest" message="tns:addShare" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://service.web.com/WebInterface/addShareResponse" message="tns:addShareResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="removeShare" parameterOrder="arg0 arg1">
      <input ns3:Action="http://service.web.com/WebInterface/removeShareRequest" message="tns:removeShare" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://service.web.com/WebInterface/removeShareResponse" message="tns:removeShareResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="listShareAvailability">
      <input ns5:Action="http://service.web.com/WebInterface/listShareAvailabilityRequest" message="tns:listShareAvailability" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://service.web.com/WebInterface/listShareAvailabilityResponse" message="tns:listShareAvailabilityResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="purchaseShare" parameterOrder="arg0 arg1 arg2 arg3">
      <input ns7:Action="http://service.web.com/WebInterface/purchaseShareRequest" message="tns:purchaseShare" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://service.web.com/WebInterface/purchaseShareResponse" message="tns:purchaseShareResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getShares">
      <input ns9:Action="http://service.web.com/WebInterface/getSharesRequest" message="tns:getShares" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns10:Action="http://service.web.com/WebInterface/getSharesResponse" message="tns:getSharesResponse" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="sellShare" parameterOrder="arg0 arg1 arg2">
      <input ns11:Action="http://service.web.com/WebInterface/sellShareRequest" message="tns:sellShare" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns12:Action="http://service.web.com/WebInterface/sellShareResponse" message="tns:sellShareResponse" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="swapShare" parameterOrder="arg0 arg1 arg2 arg3 arg4">
      <input ns13:Action="http://service.web.com/WebInterface/swapShareRequest" message="tns:swapShare" xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns14:Action="http://service.web.com/WebInterface/swapShareResponse" message="tns:swapShareResponse" xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

